* {
    box-sizing: border-box;
    margin: 0px;
}

.background{
    width: 1024px;
    height: 600px;
    background-image: url("../images/background.png");
    padding: 20px 0px 0px 20px;
}

.outerbox{
    width: 808px;
    height: 544px;
    background-image: url(../images/outerbox.png);
}

.wrapper{
    display: flex;
    flex-direction: row;
    padding: 32px 0px 0px 32px;
}

.wrapper__left{
    width: 208px;
    height: 472px;
    display: flex;
    flex-direction: column;
}

.wrapper__left__header{
    width: 100%;
    height: 30px;
}

.wrapper__left__body{
    width: 100%;
    height: 100%;
}

.wrapper__right{
    width: 524px;
    height: 472px;
    background-color: violet;
}